@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --style-color-1:#73982e;
  --style-color-2:#FF8A35;
  --color-text-1:#333333;
  --background-color-main:#F6F4F0;
  color: var(--color-text-1);
  background: var(--background-color-main) ;
  scroll-behavior: smooth;
  
}
body{
  max-width: 100vw;
  overflow-x: hidden;
}

#contenedor-navegacion{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: center;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;


}
@media (max-width:600px) {
  #contenedor-navegacion{
    font-size: large;
    grid-template-columns: 2fr 4fr;
  }
  
}

#contenedor-navegacion nav a{
  font-size: x-large;
}

#contenedor-navegacion nav  a:hover{
  color:var(--style-color-2);
}
#tab-home{
  height: 100vh !important;
}
#section-home{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
 
  overflow: hidden;
}
#section-home::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh !important;
  z-index: -1;
  /* background-image:url(../img/foto-panoramica-campos-agricolas-luz-sol-cielo-nublado-campo_181624-46685.jpg); */
  background-image:url(../img/bg2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
#section-home::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh !important;
  z-index: -1;
  backdrop-filter: blur(5px);

  
  background-image: linear-gradient(to right, transparent 25%,rgba(0, 0, 0, 0.2) 50% , rgba(0, 0, 0, 0.5) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  
}
#content-home{
  padding-top: 20%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  color:var(--background-color-main);
  /* background:var(--style-color-1); */
}
#content-home div:nth-child(3):hover{
  color:var(--style-color-2);
}

.selected{
  color: var(--style-color-2);
}

/* NOSOTROS */
#tab-nosotros{
  height: 100vh ;
  padding-top: 100px;
  
}

.header-tittle{
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.header-tittle::after{
  content: '';
 
  height: 5px;
  width: 60%;
  background-color: var(--style-color-2);
  
}
/* 
#content-home::before{
  content: '';
  display: block;
  position: absolute;
  
  width: inherit;
  height: inherit;
  z-index: -1;
  top: 0;
  bottom: 0;
 

} */
.header-provedor-details{
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  column-gap: 10px;
}

.products-provedor-details{
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  column-gap: 10px;
}
.img-product{
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

#product-card{
  display: grid;
  grid-template-rows: 1.25fr 0.75fr 0.40fr;
  overflow: hidden;
}

.container-product-gallery {
  display: grid;
  grid-template-rows:4fr 1fr ;
  padding: 0 30px;
}

.min-img{
  height: 6rem;
  width: auto;
}

.container{
  max-width: inherit;

 
 
}
#container-product{
  max-width: 1920px ;
  height: 100% !important;
  margin: 0 auto;
  height: 100%;
  padding-top:4% ;
  display: flex;
  align-items: center;

}
#section-product{
  margin: auto 0;
}

#contact-container{
  padding-top: 5%;
}

.footer-container{
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.networks{
  border-right: 2px solid #505050;
  padding-right: 50px;
  height: 123px;
}

.form{
  
}
.form  div input[type=text],  .form div  textarea ,  .form div  input[type=email] {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
 .form input[type=submit] {
  border: 2px solid #FF8A35;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--style-color-2);
  width: 80%;
  }
  .form  input[type=submit]:hover {
  background-color:var(--style-color-2);
  color: white;
  }

  #tab-objetivo{
    width: 100%;
    height: 100vh !important ;
   display: block;
   
  
  }
  .clip {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #1d976c, #93f9b9);
    mask-image:url(../img/shape.svg) ;
  }

  #ecuador{
    height: 70%;
    width: auto;

  }
  #ecuador path:hover{
    fill: var(--style-color-2);
    
  }
  .obj-container{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tab-proveedores{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
  }